doctype html
html
  head
    title CSS3 Unicorn
    link(rel='stylesheet', href='motion-shrink.css')
  body
    div.shrink
      div.shrink-imagemask
        img(src='../img/motion-shrink.png')
      div.shrink-tailmask
        img(src='../img/motion-shrink.png')
