doctype html
html
  head
    title CSS3 Unicorn
    link(rel='stylesheet', href='motion-shrink.css')
  body
    div.cutin-frame
      div.character
        img(src="../img/kankore-cutin-character.png")
      div.right-top
        img(src="../img/kankore-cutin-weapon1.png")
        span.weapon1
      div.left-bottom
        img(src="../img/kankore-cutin-weapon2.png")
        span.weapon2
      div.center-center
        img(src="../img/kankore-cutin-weapon3.png")
        span.weapon3
      div.effects
