
// animation mixin
@mixin animation($options) {
  -moz-animation: $options;
  -webkit-animation: $options;
  -ms-animation: $options;
  animation: $options;
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

body {
  background: #FFFFFF;
  margin: 70px;
}


$shrink-width: 580px;
$shrink-animation: 2s linear 0s normal;
.shrink {
  position: relative;
  width: $shrink-width;
  height: 195px;
  .shrink-imagemask, .shrink-tailmask {
    position: absolute;
    height: 100%;
    overflow: hidden;
  }
  .shrink-imagemask {
    img {
      width: $shrink-width;
    }
    @include animation(shrink-imagemask $shrink-animation);
  }
  .shrink-tailmask {
    right: 0px;
    @include animation(shrink-tailmask $shrink-animation);
    img {
      position: absolute;
      height: 100%;
      width: $shrink-width * 20;
      @include animation(shrink-tail $shrink-animation);
    }
  }
}

@include keyframes(shrink-imagemask) {
  0% {
    width: 0;
  }
  100% {
    width: $shrink-width;
  }
}

@include keyframes(shrink-tailmask) {
  0% {
    left: 0;
  }
  100% {
    left: $shrink-width;
  }
}

@include keyframes(shrink-tail) {
  0% {
    left: 0;
  }
  100% {
    left: $shrink-width * -20;
  }
}
