doctype html
html
  head
    title CSS3 Unicorn
    link(rel='stylesheet', href='motion-zuizui.css')
  body
    div.zuizui-zukkorobashi
      div.zuizui
        span.right-str
          | ｽﾞｲ
          br
          | ｽﾞｯｺﾛ
          br
          | ｺﾞﾏ
        span.right-kouka ₍₍
        span  (
        span.right-hand ง
        span   ˘ω˘ )
        span.left-hand ว
        span.left-kouka  ⁾⁾
        span.left-str
          | ｽﾞｲ
          br
          | ﾊﾞｰｼ
          br
          | ﾐｿ
          br
          | ｽﾞｲ
