doctype html
html
  head
    title CSS3 Unicorn
    link(rel='stylesheet', href='motion-p4rainbow.css')
  body
    div.rainbow#rainbow
      div.bow
      div.bow
      div.bow
      div.bow
      div.bow
      div.bow
      div.bow
      div.bow
      div.bow
      div.bow
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='motion-p4rainbow.js')
